<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.submission.storyapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryApp"
        tools:targetApi="31">
        <activity
            android:name=".presentation.view.register.RegistrasiActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.detail.DetailStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ListStoryActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.create.CreateActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.splash.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.view.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>